.modal-buttons {
  padding-top: 10px;
}

.feed-buttons {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.navbar-icons {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  max-height: 38px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar-instagram {
  gap: 5px;
}

#container {
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  width: 700px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#photo {
  width: 100%;
}

#photo-grid {
  width: 100%;
  padding-top: 20px;
}

#post {
  font-weight: bolder;
}

#post-title {
  margin-left: 10px;
}

#post-number {
  padding-top: 10px;
  margin-left: 655px;
  font-weight: 400;
}

#description {
  margin: 10px;
  padding-bottom: 10px;
}

#likes {
  margin: 10px;
  padding-bottom: 10px;
}

#feed-menu:focus{
  color: blue;
  border: 0;
}